/* *{
    font-family: 'Josefin Sans', sans-serif;
} */

#logo_img {
    width: 170px;
}

#top_nav {
    background-color: #daac00;
    padding-left: 36px;
    padding-right: 36px;
}

#nav_items {
    padding-left: 30px;
    padding-top: 1%;
}

#nav_items li {
    font-size: larger;
    padding-left: 10px;
}

/* #nav_items ul li a:hover{
    color: rgb(0, 0, 0);
} */
#searchbox {
    background-color: #fcc302;
    position: relative;
    border: none;
    border-radius: none;
    box-shadow: 10px 11px 15px 4px #3030305b;
}

#search_area {
    padding-top: 1%;
}

#searchbox::placeholder {
    color: white;
}

#searchbtn {
    position: relative;
    right: 50px;
    background-color: #00bec9;
    color: white;
}

@media only screen and (max-width : 990px) {
    #search_area {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width : 500px) {

    #logo_img {
        width: 100px;
    }

    #searchbox {
        width: 80%;
    }

    #search_area {
        padding-bottom: 40px;
    }
}

/* banner  */

#banner {
    background-color: #fcc302;
    color: white;
    /* padding-top: 60px; */
    padding-bottom: 50px;
}

#banner_img {
    margin-top: 7%;
}

/* #banner_text{
    padding-top: 10px;

} */
#banner_text h1 {
    font-size: 65px;
    margin-top: 100px;
    /* text-align: center; */
}

#banner_text p {
    margin-top: 30px;
    margin-bottom: 20px;
    /* text-align: center; */
    font-size: 20px;
}

#banner_btn_1 {
    background-color: #00bec9;
    color: white;
    border: 2px solid #00bec9;
    border-radius: 0px;

}

#banner_btn_2 {
    background-color: #fcc302;
    color: black;
    border: 2px solid white;
    border-radius: 0px;
    margin-left: 20px;
}

@media only screen and (max-width:1300px) {
    #banner_text h1 {
        font-size: 48px;
    }

    #banner {
        padding-bottom: 70px;
    }
}


@media only screen and (max-width:950px) {
    #banner_text h1 {
        font-size: 38px;
    }

    #banner_img {
        margin-top: 20%;
    }
}

@media only screen and (max-width:440px) {
    #banner_text h1 {
        font-size: 33px;
    }
    #banner_text{
        background-image: url(project_images/white_cat_5.png);
        background-repeat: no-repeat;
        background-position:3%;
        background-size: cover;
        z-index: 1;
        color: #3b3b3b;
    }
}

/* section part  */
#section{
    padding-top: 5%;
    padding-bottom: 4%;
}
/* #section_text {
    padding-top: 5%;
    padding-bottom: 4%;
} */

#section_text h1 {
    font-size: 40px;
    padding-bottom: 13px;
}

#section_text p {
    font-size: 17px;
    padding-bottom: 25px;
}

#section_btn {
    background-color: #fcc302;
    color: white;
    border-radius: 2px solid #fcc302;
}

/* #section_img {
    margin-top: 6%;
} */

@media only screen and (max-width:950px) {
    
    #section_text h1{
        font-size: 30px;
    }
}

@media only screen and (max-width:768px) {
    #section_text {
        padding-top: 5%;
    }

    #section_img{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

 /* counter part  */

#main_counter{
    background-color: #fcc302;
}

.count{
    padding-top: 12%;
    padding-bottom: 10%;
    text-align: center;
    color: white;
}
.icon_size{
    font-size: 50px;
    color: white;
    padding-bottom: 2%;
}

@media only screen and (max-width:768px){
    #main_counter{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .count{
        padding-top: 3% ;
        padding-bottom:7% ;
        
    }
}

/* article heading  */

#article_heading{
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}
#article_heading h1{
    font-size: 40px;
    font-weight: bolder;
}
#article_heading p{
    padding-top: 20px;
}

/* blog area  */
#blog{
    
    padding-bottom: 4%;
}
.atricle_text{
    padding: 4%;
    border: 2px solid rgb(193, 193, 193);
    border-top: none;
}
.article_heading{
    font-weight: bolder;
}
.article_date, .article_link{
    color: #00bec9;
}
.article_link{
    font-weight: bolder;
    text-decoration: none;
}

/* footer area  */

#footer{
    background-color: #3b3b3b;
    color: white;
    padding-top: 7%;
    padding-bottom: 4%;
    margin-top: 2%;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer h5{
    font-weight: bolder;
    margin-bottom: 15px;
}
.footer_section_3{
    text-align: end;
}
#footer_form input{
    background-color: #fcc302;
    color: white;
    border: none;
    padding: 10px 20px;
    position: relative;
    left: 10px;
}
#text_footer::placeholder{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
#footer_form .footer_btn{
    background-color: #00bec9;
    color: white;
    border: none;
    padding: 10px;
}
#footer_form{
    margin-bottom: 15px;
}
.footer_icon{
    font-size: larger;
    padding-left: 10px;
}

@media only screen and (max-width:980px){
    #footer_form input{
        
        padding: 6px 0px;
       
        
    }
    #footer_form .footer_btn{
        padding: 6px;
    }
}
@media only screen and (max-width:810px){
    #footer_form input{
        
        padding: 3px 0px;
        
        
    }
    #footer_form .footer_btn{
        padding: 3px;
    }
}
@media only screen and (max-width:500px){

    #footer_form input {
        padding: 3px 0px;
    }
    #footer_form .footer_btn{
        padding: 3px;
    }
}


/* copy right  */

#copyright{
    background-color:#737272;
    color: white;
    padding-top: 10px;
    
    
}